<div class="max-w-6xl w-full mx-auto md:flex md:flex-col md:items-center md:justify-center md:gap-8">
  <article class="bg-white shadow-md rounded-lg p-6 md:p-12">
    <%= image_tag "event.png", alt: "event image", class: "max-w-4xl m-auto" %>
    <h1 class="text-3xl font-bold text-orange-400 mb-4 text-center my-8 md:hidden">RUNTEQ.rb</h1>
    <p class="text-center leading-8 md:text-3xl md:py-4 md:leading-20">RUNTEQ生による、<br class="hidden">RUNTEQ生のための、<br>Ruby, Rails, アプリ開発カンファレンス！！</p>
  </article>

  <article>
    <h2 class="text-2xl font-bold text-orange-400 mb-4 text-center my-8 md:text-3xl md:my-8">イベント情報</h2>
    <div class="flex justify-center">
      <div class="w-1/2">
        <h3 class="text-xl font-bold text-orange-400 mb-4 text-center my-8 md:text-3xl">開催日時</h3>
        <p class="text-center leading-8 md:text-2xl">2025年4月26日(土) 13:00〜18:00</p>
      </div>
      <div class="w-1/2">
        <h3 class="text-xl font-bold text-orange-400 mb-4 text-center my-8 md:text-3xl">開催場所</h3>
        <p class="text-center leading-8 md:text-2xl">ZOOM<br><small class="text-center">URLは後日公開
        </small></p>
      </div>
    </div>
  </article>

  <article class="bg-white shadow-md rounded-lg p-6 my-8 md:p-20">
    <h2 class="text-2xl font-bold text-orange-400 mb-4 text-center my-8">タイムテーブル</h2>
      <section class="relative border-l-4 border-orange-400">
        <div class="pb-10 ml-6">
          <span class="absolute w-6 h-6 bg-[#FF7F3F] rounded-full -left-3.5"></span>
          <time class="block mb-2 text-sm font-semibold text-gray-600">13:00</time>
          <div class="border border-orange-300 p-5 rounded">
            <div class="flex items-center space-x-4">
              <img src="https://placehold.jp/500x500.png" alt="icon" class="w-16 h-16 rounded-full object-cover">
              <div>
                <p class="font-bold text-[#FF7F3F]">ユーザー名</p>
                <a href="" target="_blank" rel="noopener noreferrer" class="text-sm text-blue-500 block">@x_id</a>
                <a href="https://example.com/johndoe" target="_blank" rel="noopener noreferrer" class="text-sm text-blue-500 hover:underline block">ソシャポ</a>
              </div>
            </div>
            <h3 class="font-bold text-lg text-[#FF7F3F] mt-4">登壇タイトル</h3>
            <p class="text-gray-700 mb-2">ダミーテキストダミーテキストダミーテキストダミーテキストダミーテキスト<br/>ダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキスト</p>
            <div class="flex space-x-2 text-sm">
              <span class="px-2 py-1 bg-gray-200 rounded">入門向け（導入～基礎）</span>
            </div>
          </div>
        </div>
      </section>

      <section class="relative border-l-4 border-orange-400">
        <div class="pb-10 ml-6">
          <span class="absolute w-6 h-6 bg-[#FF7F3F] rounded-full -left-3.5"></span>
          <time class="block mb-2 text-sm font-semibold text-gray-600">14:00</time>
          <div class="border border-orange-300 p-5 rounded">
            <div class="flex items-center space-x-4">
              <img src="https://placehold.jp/500x500.png" alt="icon" class="w-16 h-16 rounded-full object-cover">
              <div>
                <p class="font-bold text-[#FF7F3F]">ユーザー名</p>
                <a href="" target="_blank" rel="noopener noreferrer" class="text-sm text-blue-500 block">@x_id</a>
                <a href="https://example.com/johndoe" target="_blank" rel="noopener noreferrer" class="text-sm text-blue-500 hover:underline block">ソシャポ</a>
              </div>
            </div>
            <h3 class="font-bold text-lg text-[#FF7F3F] mt-4">登壇タイトル</h3>
            <p class="text-gray-700 mb-2">ダミーテキストダミーテキストダミーテキストダミーテキストダミーテキスト<br/>ダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキスト</p>
            <div class="flex space-x-2 text-sm">
              <span class="px-2 py-1 bg-gray-200 rounded">入門向け（導入～基礎）</span>
            </div>
          </div>
        </div>
      </section>

      <section class="relative border-l-4 border-orange-400">
        <div class="pb-10 ml-6">
          <span class="absolute w-6 h-6 bg-[#FF7F3F] rounded-full -left-3.5"></span>
          <time class="block mb-2 text-sm font-semibold text-gray-600">14:00</time>
          <div class="border border-orange-300 p-5 rounded">
            <div class="flex items-center space-x-4">
              <img src="https://placehold.jp/500x500.png" alt="icon" class="w-16 h-16 rounded-full object-cover">
              <div>
                <p class="font-bold text-[#FF7F3F]">ユーザー名</p>
                <a href="" target="_blank" rel="noopener noreferrer" class="text-sm text-blue-500 block">@x_id</a>
                <a href="https://example.com/johndoe" target="_blank" rel="noopener noreferrer" class="text-sm text-blue-500 hover:underline block">ソシャポ</a>
              </div>
            </div>
            <h3 class="font-bold text-lg text-[#FF7F3F] mt-4">登壇タイトル</h3>
            <p class="text-gray-700 mb-2">ダミーテキストダミーテキストダミーテキストダミーテキストダミーテキスト<br/>ダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキスト</p>
            <div class="flex space-x-2 text-sm">
              <span class="px-2 py-1 bg-gray-200 rounded">入門向け（導入～基礎）</span>
            </div>
          </div>
        </div>
      </section>

      <section class="relative border-l-4 border-orange-400">
        <div class="pb-10 ml-6">
          <span class="absolute w-6 h-6 bg-[#FF7F3F] rounded-full -left-3.5"></span>
          <time class="block mb-2 text-sm font-semibold text-gray-600">14:00</time>
          <div class="border border-orange-300 p-5 rounded">
            <div class="flex items-center space-x-4">
              <img src="https://placehold.jp/500x500.png" alt="icon" class="w-16 h-16 rounded-full object-cover">
              <div>
                <p class="font-bold text-[#FF7F3F]">ユーザー名</p>
                <a href="" target="_blank" rel="noopener noreferrer" class="text-sm text-blue-500 block">@x_id</a>
                <a href="https://example.com/johndoe" target="_blank" rel="noopener noreferrer" class="text-sm text-blue-500 hover:underline block">ソシャポ</a>
              </div>
            </div>
            <h3 class="font-bold text-lg text-[#FF7F3F] mt-4">登壇タイトル</h3>
            <p class="text-gray-700 mb-2">ダミーテキストダミーテキストダミーテキストダミーテキストダミーテキスト<br/>ダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキスト</p>
            <div class="flex space-x-2 text-sm">
              <span class="px-2 py-1 bg-gray-200 rounded">入門向け（導入～基礎）</span>
            </div>
          </div>
        </div>
      </section>

      <section class="relative border-l-4 border-orange-400">
        <div class="pb-10 ml-6">
          <span class="absolute w-6 h-6 bg-[#FF7F3F] rounded-full -left-3.5"></span>
          <time class="block mb-2 text-sm font-semibold text-gray-600">14:00</time>
          <div class="border border-orange-300 p-5 rounded">
            <div class="flex items-center space-x-4">
              <img src="https://placehold.jp/500x500.png" alt="icon" class="w-16 h-16 rounded-full object-cover">
              <div>
                <p class="font-bold text-[#FF7F3F]">ユーザー名</p>
                <a href="" target="_blank" rel="noopener noreferrer" class="text-sm text-blue-500 block">@x_id</a>
                <a href="https://example.com/johndoe" target="_blank" rel="noopener noreferrer" class="text-sm text-blue-500 hover:underline block">ソシャポ</a>
              </div>
            </div>
            <h3 class="font-bold text-lg text-[#FF7F3F] mt-4">登壇タイトル</h3>
            <p class="text-gray-700 mb-2">ダミーテキストダミーテキストダミーテキストダミーテキストダミーテキスト<br/>ダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキスト</p>
            <div class="flex space-x-2 text-sm">
              <span class="px-2 py-1 bg-gray-200 rounded">入門向け（導入～基礎）</span>
            </div>
          </div>
        </div>
      </section>
  </article>

  <article>
    <h2 class="text-2xl font-bold text-orange-400 mb-4 text-center my-8 md:text-3xl">協賛</h2>
    <div class="grid grid-cols-1 justify-center items-center gap-4 md:grid-cols-3">
      <%= image_tag "RUNTEQ.png", alt: "event image",class: "w-[80%] object-cover m-auto" %>
      <%= image_tag "Fes.png", alt: "event image",class: "w-[80%] object-cover m-auto" %>
      <%= image_tag "all-night.webp", alt: "event image",class: "w-[80%] object-cover m-auto" %>
    </div>
  </article>

  <article class="bg-white shadow-md rounded-lg p-6 my-8">
    <h2 class="text-3xl font-bold text-orange-400 mb-4 text-center my-8">主催</h2>
    <section class="grid grid-cols-2 gap-4 md:grid-cols-4">
      <div class="flex justify-center flex-col items-center gap-2">
        <div class="w-1/2">
          <%= image_tag "RUNTEQ.png", alt: "event image",class: "rounded-full aspect-square object-cover" %>
        </div>
        <div class="w-1/2">
          <h3 class="text-xl font-bold text-orange-400 text-center">とぴ</h3>
          <p class="text-center leading-8">52期</p>
        </div>
      </div>

      <div class="flex justify-center flex-col items-center gap-2">
        <div class="w-1/2">
          <%= image_tag "RUNTEQ.png", alt: "event image",class: "rounded-full aspect-square object-cover" %>
        </div>
        <div class="w-1/2">
          <h3 class="text-xl font-bold text-orange-400 text-center">とぴ</h3>
          <p class="text-center leading-8">52期</p>
        </div>
      </div>

      <div class="flex justify-center flex-col items-center gap-2">
        <div class="w-1/2">
          <%= image_tag "RUNTEQ.png", alt: "event image",class: "rounded-full aspect-square object-cover" %>
        </div>
        <div class="w-1/2">
          <h3 class="text-xl font-bold text-orange-400 text-center">とぴ</h3>
          <p class="text-center leading-8">52期</p>
        </div>
      </div>

      <div class="flex justify-center flex-col items-center gap-2">
        <div class="w-1/2">
          <%= image_tag "RUNTEQ.png", alt: "event image",class: "rounded-full aspect-square object-cover" %>
        </div>
        <div class="w-1/2">
          <h3 class="text-xl font-bold text-orange-400 text-center">とぴ</h3>
          <p class="text-center leading-8">52期</p>
        </div>
      </div>

      <div class="flex justify-center flex-col items-center gap-2">
        <div class="w-1/2">
          <%= image_tag "RUNTEQ.png", alt: "event image",class: "rounded-full aspect-square object-cover" %>
        </div>
        <div class="w-1/2">
          <h3 class="text-xl font-bold text-orange-400 text-center">とぴ</h3>
          <p class="text-center leading-8">52期</p>
        </div>
      </div>

      <div class="flex justify-center flex-col items-center gap-2">
        <div class="w-1/2">
          <%= image_tag "RUNTEQ.png", alt: "event image",class: "rounded-full aspect-square object-cover" %>
        </div>
        <div class="w-1/2">
          <h3 class="text-xl font-bold text-orange-400 text-center">とぴ</h3>
          <p class="text-center leading-8">52期</p>
        </div>
      </div>

      <div class="flex justify-center flex-col items-center gap-2">
        <div class="w-1/2">
          <%= image_tag "RUNTEQ.png", alt: "event image",class: "rounded-full aspect-square object-cover" %>
        </div>
        <div class="w-1/2">
          <h3 class="text-xl font-bold text-orange-400 text-center">とぴ</h3>
          <p class="text-center leading-8">52期</p>
        </div>
      </div>
    </section>
  </article>
</div>