<div class="container m-auto flex justify-between items-center text-white">
  <h1 class="text-xl font-semibold"><%= link_to "RUNTEQ.rb", root_path %></h1>

  <nav>
    <ul class="flex space-x-4">
      <% if current_user %>
        <% if current_user.general? %>
          <li><%= link_to "プロポーザルに登録する", edit_proposal_users_path(current_user) %></li>
        <% elsif current_user.proposal? %>
          <li><%= link_to "登壇応募", new_proposal_post_path %></li>
          <li><%= link_to "マイページ", proposal_root_path %></li>
        <% elsif current_user.invitation? %>
          <li><%= link_to "登壇応募", new_invitations_post_path %></li>
          <li><%= link_to "マイページ", invitations_root_path %></li>
        <% elsif current_user.admin? %>
          <li><%= link_to "登壇応募（プロポーザル）", new_proposal_post_path %></li>
          <li><%= link_to "登壇応募（招待枠）", new_invitations_post_path %></li>
          <li><%= link_to "管理者画面", admin_root_path %></li>
        <% end %>
      <% end %>
    </ul>
  </nav>
</div>