<div class="container m-auto flex justify-between items-center text-white">
  <h1 class="text-xl font-semibold"><%= link_to "RUNTEQ.rb", root_path %></h1>

  <% role = User.roles[current_user&.role] %>
  <nav>
    <ul class="flex space-x-4">
      <% if role == User.roles[:general] %>
      <li><%= link_to "プロポーザルに登録する", new_proposal_users_path %></li>
      <% elsif role == User.roles[:proposal] %>
      <li><%= link_to "登壇応募", new_proposal_post_path %></li>
      <li><%= link_to "マイページ", proposal_users_path %></li>
      <% end %>

      <% if role == User.roles[:admin] %>
      <li><%= link_to "#", "管理者画面" %></li>
      <% end %>
    </ul>
  </nav>
</div>