<div class="space-y-6">
  <div class="flex flex-col">
    <%= form.label :name, class: "font-semibold text-gray-700" %>
    <%= form.text_field :name, required: true, class: "border border-orange-300 rounded-md p-2 focus:ring-orange-500 focus:border-orange-500" %>
  </div>

  <div class="flex flex-col">
    <%= form.label :x_id, class: "font-semibold text-gray-700" %>
    <%= form.text_field :x_id, required: true, placeholder: "@topi_log
", class: "border border-orange-300 rounded-md p-2 focus:ring-orange-500 focus:border-orange-500" %>
    <p id="x_id" class="text-red-500 bg-red-100 p-2 rounded-md mt-2 hidden">@からのIDを入力してください</p>
  </div>

  <div class="flex flex-col">
    <%= form.label :social_portfolio_url, class: "font-semibold text-gray-700" %>
    <%= form.url_field :social_portfolio_url, required: true, placeholder: "https://school.runteq.jp/social_portfolios/topi_log", class: "border border-orange-300 rounded-md p-2 focus:ring-orange-500 focus:border-orange-500" %>

    <div id="sp_check" class="text-red-500 bg-red-100 p-2 rounded-md mt-2 hidden">
      <p id="sp_url_check" class="hidden">ご自身のソーシャルポートフォリオのURLを入力してください</p>
      <p id="sp_public_check" class="hidden">正しいURLになってないか公開用URLになってないようです</p>
    </div>
  </div>

  <div class="flex flex-col">
    <%= form.label :image_url, class: "font-semibold text-gray-700" %>
    <%= form.url_field :image_url, required: true, placeholder: "https://pbs.twimg.com/profile_images/1841068721156374528/R2HQHSzA_400x400.jpg", class: "border border-orange-300 rounded-md p-2 focus:ring-orange-500 focus:border-orange-500" %>
  </div>

  <div class="text-center mt-6">
    <%= form.submit "更新", class: "bg-orange-500 text-white px-6 py-2 rounded-lg text-lg shadow-md hover:bg-orange-600 transition" %>
  </div>
</div>

<script>
  $(document).ready(function() {
    $("form").on("submit", function() {
      const xId = $("input[name='user[x_id]']").val();
      let valid = true;
      if (!xId.startsWith("@")) {
        $("#x_id").show();
        valid = false;
      } else {
        $("#x_id").hide();
      }

      const socialPortfolioUrl = $("input[name='user[social_portfolio_url]']").val();
      if (!socialPortfolioUrl.startsWith("https://school.runteq.jp/social_portfolios/")) {
        $("#sp_check").removeClass("hidden");
        $("#sp_url_check").removeClass("hidden");
        valid = false;
      } else {
        const lastId = socialPortfolioUrl.split("/").pop();
        if (!(lastId && 2 <= lastId.length && lastId.length <= 20)) {
          $("#sp_check").removeClass("hidden");
          $("#sp_public_check").removeClass("hidden");
          valid = false;
        } else {
          $("#sp_check").addClass("hidden");
          $("#sp_url_check").addClass("hidden");
          $("#sp_public_check").addClass("hidden");
        }
      }

      return valid;
    });
  });
</script>