<li class="bg-orange-50 rounded-lg p-4 shadow-md hover:shadow-lg transition border border-orange-300">
  <h2 class="text-lg font-semibold text-orange-700 mb-2"><%= post.title %></h2>
  <ul>
    <li class="text-sm font-semibold text-orange-700 mb-2">
      応募者：<%= post.user.name %> ( <a href="https://x.com/<%= post.user.x_id %>" target="_blank" class="text-blue-400 underline">X</a> / <a href="<%= post.user.social_portfolio_url %>" target="_blank" class="text-blue-400 underline">SPF</a> )
    </li>
    <li class="text-sm font-semibold text-orange-700 mb-2">応募枠：<%= post.presentation_category_i18n %></li>
    <li class="text-sm font-semibold text-orange-700 mb-2">ターゲット：<%= post.target_category_i18n %></li>
  </ul>
  <p class="text-gray-600 text-sm line-clamp-3"><%= post.content %></p>
  <div class="mt-3 flex justify-between items-center">
    <%= render "selection", post: post  %>
    <%= link_to '詳細を見る', admin_post_path(post), class: "text-orange-500 font-semibold hover:underline" %>
  </div>
</li>