<div class="mb-6">
  <%= search_form_for @q, url: admin_posts_path, method: :get, html: { class: "bg-white p-4 rounded-xl shadow-md border border-orange-200" } do |f| %>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
      <div>
        <%= f.label :presentation_category_eq, "登壇枠", class: "block text-sm font-medium text-gray-700 mb-1" %>
        <%= f.select :presentation_category_eq,
              Post.presentation_categories_i18n.invert.map{|key, value| [key, Post.presentation_categories[value]]},
              { include_blank: "すべて" },
              class: "w-full border-gray-300 rounded-md shadow-sm p-2 cursor-pointer hover:bg-orange-50 transition" %>
      </div>
      <div>
        <%= f.label :target_category_eq, "ターゲット層", class: "block text-sm font-medium text-gray-700 mb-1" %>
        <%= f.select :target_category_eq,
              Post.target_categories_i18n.invert.map{|key, value| [key, Post.target_categories[value]]},
              { include_blank: "すべて" },
              class: "w-full border-gray-300 rounded-md shadow-sm p-2 cursor-pointer hover:bg-orange-50 transition" %>
      </div>
      <div>
        <%= f.label :title_cont, "タイトル検索", class: "block text-sm font-medium text-gray-700 mb-1" %>
        <%= f.search_field :title_cont,
              class: "w-full border-gray-300 rounded-md shadow-sm p-2",
              placeholder: "検索したいキーワードを入力" %>
      </div>
      <div>
        <%= f.label :user_name_cont, "ユーザー名検索", class: "block text-sm font-medium text-gray-700 mb-1" %>
        <%= f.search_field :user_name_cont,
              class: "w-full border-gray-300 rounded-md shadow-sm p-2",
              placeholder: "検索したいキーワードを入力" %>
      </div>
      <div>
        <%= f.label :content_cont, "内容検索", class: "block text-sm font-medium text-gray-700 mb-1" %>
        <%= f.search_field :content_cont,
              class: "w-full border-gray-300 rounded-md shadow-sm p-2",
              placeholder: "検索したいキーワードを入力" %>
      </div>
      <div class="mt-4 text-right">
        <%= f.submit "確認", class: "bg-orange-500 text-white font-bold py-2 px-4 rounded border border-orange-500 hover:bg-white hover:text-orange-500 transition" %>
      </div>
    </div>
  <% end %>
  <%= link_to 'いいね数順', admin_posts_path(request.query_parameters.merge(sort_by: 'favorite')), class: "text-orange-500 font-semibold hover:underline ml-3" %>
  /
  <%= link_to '新しい順', admin_posts_path(request.query_parameters.merge(sort_by: '')), class: "text-orange-500 font-semibold hover:underline" %>
  /
  <%= link_to '採択のみ', admin_posts_path(selection: Post.selections[:adoption]), class: "text-orange-500 font-semibold hover:underline" %>
</div>