<!DOCTYPE html>
<html>

<head>
  <title><%= content_for(:title) || "RUNTEQ.rb" %></title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="mobile-web-app-capable" content="yes">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= yield :head %>

  <link rel="icon" href="/icon.png" type="image/png">
  <link rel="apple-touch-icon" href="/icon.png">

  <link href="https://use.fontawesome.com/releases/v6.2.0/css/all.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/uikit@3.23.1/dist/js/uikit.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/uikit@3.23.1/dist/js/uikit-icons.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
  <%= stylesheet_link_tag "application", "uikit", "data-turbo-track": "reload" %>
  <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
</head>

<body>
  <div class="flex flex-col min-h-screen bg-orange-200">
    <header class="bg-orange-500 text-white mx-auto p-4 w-full sticky top-0 z-10">
      <%= render "shared/header" %>
    </header>

    <div id="flash" class="my-1">
      <%= render "shared/flash_message" %>
    </div>

    <main class="container mx-auto py-15 grow">
      <%= yield %>
    </main>

    <footer class="bg-orange-500 text-white text-end p-4">
      <p>© 2025 RUNTEQ.rb</p>
    </footer>
  </div>
</body>

</html>